mixin modal(title, id)
    div(id=`delete-${id}`).modal-window
        .modal-div
            .modal-title Warning?!
            
            .modal-message
                | Are you sure you want to 
                b delete  
                | this #{title}?

            a.btn-action.btn-action--green.btn-confirm(href='#' ) Cancel
            a.btn-confirm-delete.btn-action.btn-action--red.btn-confirm(href='#' data-id=id object-type=title) Delete


