extends ../base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`../img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/me', 'Settings', 'settings')
          if (user.role === 'user')
            +navItem('/my-tours', 'My bookings', 'briefcase')
            +navItem('my-reviews', 'My reviews', 'star')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage tours', 'map')
              +navItem('/admin/users', 'Manage users', 'users', true)
              +navItem('/admin/reviews', 'Manage reviews', 'star')
              +navItem('/admin/bookings', 'Manage bookings', 'briefcase')

      .user-view__content
        .user-view__form-container
          .div(style="text-align:center;")
            h2.heading-secondary.ma-bt-md New user
          
          form.form.form-user-add-data
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', required, name='email')
            .form__group.ma-bt-md
              label.form__label(for='password') Password
              input#password.form__input(type='password' placeholder='••••••••' required='' minlength='8')
            .form__group.ma-bt-md
              label.form__label(for='passwordConfirm') Confirm password
              input#passwordConfirm.form__input(type='password' placeholder='••••••••' required='' minlength='8')
            .form__group
                label.form__label(for='role') Role
                label.label-radio-button
                    input.radio-button(type='radio' name='role' value='user' id='user' checked)
                    | User
                label.label-radio-button
                    input.radio-button(type='radio' name='role' id='guide' value='guide')
                    | Guide
                label.label-radio-button
                    input.radio-button(type='radio' name='role' id='lead-guide' value='lead-guide')
                    | Lead Guide

            .form__group.right
              button.btn.btn--small.btn--green Save