header.header
    nav.nav.nav--tours
        a.nav__el(href='/all-tours') All tours
        form.form.form-search
            span.search-span
                input#search.form__input.search-input(type='text', required, name='search', placeholder='Enter to search...')
                svg.icon-search
                    use(xlink:href='../img/icons.svg#icon-search')

    a(href='/').header__logo
        img(src='/img/logo-white.png' alt='Natours logo')
    nav.nav.nav--user
        if user
            a.nav__el.nav__el--logout Log out
            a.nav__el(href='/me')
                img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                span= user.name.split(' ')[0]
        else
            a.nav__el(href='/login') Log in
            a.nav__el.nav__el--cta(href='/signup') Sign up